[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
dwave-qbsolv = ">=0.2.10"
pytest = ">=4.0.0"
autopep8 = "*"

[packages]
networkx = ">=2.0"

[requires]
python_version = "3.7"
