[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
networkx = ">=2.0"
dwave-qbsolv = ">=0.2.10"
pytest = ">=4.0.0"

[packages]

[requires]
python_version = "3.7"
